.container {
    width: 32%;
    margin: 4rem auto;
    background-color: #fafafa;
    padding: 3.5rem 3rem;
    border: 2px solid #bbb;
    border-radius: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header {
    font-size: 2rem;
    color: #004aaa;
    margin-bottom: 1rem;
}

.formField {
    height: 4.5rem;
}

.formField label {
    color: #606060;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.formField input {
    width: 100%;
    height: 30px;
    font-size: 1rem;
    border-radius: 4px;
    padding: 0.6rem;
    margin-bottom: 0.3rem;
    border: 1px solid #bbb;
}

.formField .formInput {
    border: 1px solid #bbb;
}

.formField .uncompleted {
    border-color: #dd0000;
    border-width: 1.5px;
}

.formField input:focus {
    outline: none;
    line-height: 30px;
    border-color: #1a73e8;
}

.formField small {
    background-color: #fbbfbf;
    color: #9e0909;
    padding: 0.2rem;
    border-radius: 4px;
}

.formField .checkboxContainer label {
    color: #1a73e8;
}

.checkboxContainer {
    display: flex;
}

.checkboxContainer input[type="checkbox"] {
    margin-left: 1.2rem;
    border: 1px solid #1a73e8;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
    appearance: none;
    transition: all 0.2s ease-in;
}

.checkboxContainer input[type="checkbox"]:checked {
    background-color: #1a73e8;
    border-radius: 50%;
}

.checkboxContainer input[type="checkbox"]:focus {
    border-color: #004aaa;
}

.formButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formButtons a {
    text-decoration: none;
    color: #004aaa;
    font-size: 1rem;
    font-weight: 700;
}

.formButtons button {
    background-color: #1a73e8;
    color: #fafafa;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.formButtons button:hover {
    background-color: #004aaa;
}

@media only screen and (max-width: 1285px) {
    .container {
        width: 40%;
    }
}

@media only screen and (max-width: 1120px) {
    .container {
        width: 45%;
    }
}

@media only screen and (max-width: 940px) {
    .container {
        width: 50%;
    }
}

@media only screen and (max-width: 840px) {
    .container {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
        padding: 3rem 1.5rem;
    }
}

@media only screen and (max-width: 440px) {
    .container {
        width: 99%;
    }
}